extends layout

block content
  div.container
    h3 Add Product
    form(id='product-form', method='POST', action='/products', autocomplete='off', novalidate)
      include product_form.jade
      .form-group
        button.btn.btn-default Add