extends layout

block content
  div.container
    h3 Edit Product
    form(id='product-form', method='POST', action='/products/#{product.id}', autocomplete='off', novalidate)
      input(type='hidden', name='_method', value='put')
      include product_form.jade
      .form-group
        button.btn.btn-default Update 
    form(id='product-delete', method='POST', action='/products/#{product.id}', autocomplete='off', novalidate)
       input(type='hidden', name='_method', value='delete')
       button.btn.btn-danger Delete   